.app-header {
}
.user-inactive div.x-grid-cell-inner {
	background:url(icons/delete.png) 22px 1px no-repeat !important;
	color: #777;
}
.user-active div.x-grid-cell-inner {
	background:url(icons/accept.png) 22px 1px no-repeat !important;
	color: #777;
}
.user-has-role div.x-grid-cell-inner {
	background:url(icons/accept.png) 3px 1px no-repeat !important;
}
.permission-in-role div.x-grid-cell-inner {
	background:url(icons/accept.png) 3px 1px no-repeat !important;
}
.user-in-group div.x-grid-cell-inner {
	background:url(icons/accept.png) 3px 1px no-repeat !important;
}
.path-not-found div.x-grid-cell-inner {
	background:url(icons/error.png) 3px 1px no-repeat !important;
}
.has-permission div.x-grid-cell-inner {
	background:url(icons/accept.png) 3px 1px no-repeat !important;
}
.user-has-permission div.x-grid-cell-inner {
	background:url(icons/user.png) 3px 1px no-repeat !important;
}
.user-role-has-permission div.x-grid-cell-inner {
	background:url(icons/shield.png) 3px 1px no-repeat !important;
}
.login-success div.x-grid-cell-inner {
	background:url(icons/accept.png) 3px 1px no-repeat !important;
}
.login-fail div.x-grid-cell-inner {
	background:url(icons/delete.png) 3px 1px no-repeat !important;
}
.appunto-list .empty {
	font-family: tahoma, arial, verdana, sans-serif;
	font-size: 11px;
	text-align: center; 
	padding-top: 20px;
}
#appunto-auth-credits {
	font-family: tahoma, arial, verdana, sans-serif;
    font-size: 11px;
}
#appunto-auth-credits h2 {
    font-size: 14px;
	padding-top: 12px;
}
#appunto-auth-credits p {
	padding: 4px 10px;
}
#appunto-auth-license p {
	padding: 4px 10px;
}
