/* Miscellaneous CSS */
table.application-status {
	background				: #ccc;
	-moz-border-radius		: 16px;
	-webkit-border-radius	: 16px;
	border-radius			: 16px;
	background-color		: #6F95FC;
	padding					: 16px 0; 
	margin					: 16px 0 16px 20px;
}
table.application-status td {
	padding					: 6px 6px;
	margin					: 1px;
	font-size				: 1.25em;
	background-color		: #ddd;
	border-collapse			: separate;
	border-spacing			: 1px;
}
table.application-status th {
	padding					: 4px 24px;
	font-size				: 1.25em;
	color					: #fff;
}
table.application-status td.error {
	width: 32px;
	background: #ddd url(icons/delete.png) 12px 6px no-repeat;
}
table.application-status td.ok {
	width: 32px;
	background: #ddd url(icons/accept.png) 12px 6px no-repeat;
}
